.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  padding: 20px 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.movie:hover {
  /* transform: translateY(-5px) scale(1.005) translateZ(0); */
  box-shadow: 1px 1px 26px 5px var(--primary-color);
}

.movie:hover .overlay {
  transform: scale(10) translateZ(0);
}

.movie:hover .movie-circle {
  border-color: var(--bg-color-light);
}

.movie:hover .movie-circle:after {
  background: var(--bg-color-light);
}

.movie .movie-info {
  z-index: 100;
}

.video_thumb {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0.5rem auto;
  overflow: hidden;
  position: relative;
}

.movie-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.movie-circle-img {
  height: 200px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.play-button {
  display: none;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.play-button:after {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 14px);
  display: block;
  content: "";
  box-sizing: border-box;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 26px 0 26px 40px;
}

.play-button:hover {
  background: var(--bg-color-seconds);
}

.video_thumb:hover .play-button {
  display: block;
}

.overlay {
  width: 118px;
  height: 118px;
  position: absolute;
  border-radius: 50%;
  background: var(--bg-color-seconds);
  top: 20%;
  z-index: 0;
  transition: transform 0.5s ease-out;
}

.movie-info {
  width: 100%;
}

.movie-info__title {
  color: var(--seconds-color);
  font-weight: 600;
}

.movie-info__text {
  line-height: 20px;
  opacity: .8;
  color: var(--primary-color);
}

.movie-info__title,
.movie-info__text {
  margin: 0;
  margin-bottom: 4px;
}

.movie-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.7em 1.6em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48.button-48-color {
  color: black;
}

.button-48.button-48-color:before {
  background-color: #00bcd4;
  content: "Edit";
}

.button-48:before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #e91e63;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "Delete";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48,
.button-48:before,
.button-48:hover:before {
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .movie {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}